<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.norika.play"
    android:installLocation="internalOnly"
    android:sharedUserId="i.norika.rainplay"
    android:sharedUserLabel="@string/user_shared_label"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-configuration
        android:reqFiveWayNav="false"
        android:reqHardKeyboard="false"
        android:reqKeyboardType="nokeys"
        android:reqNavigation="nonav"
        android:reqTouchScreen="finger" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:glEsVersion="0x00010001"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:glEsVersion="0x00010001"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />
    
        <!-- android:permission="com.android.norika.app.permission.ENTRY" -->
       <!--  android:name="com.android.norika.play.app.LovePlayApp" -->
    <application
        android:allowBackup="false"
        android:allowClearUserData="false"
        android:allowTaskReparenting="false"
        android:backupAgent="android.app.backup.BackupAgentHelper"
        android:description="@string/play_des"
         android:enabled="true"
        android:hasCode="false"
        android:largeHeap="true"
        android:icon="@drawable/apple"
        android:killAfterRestore="true"
        android:persistent="false"
        android:label="@string/app_name"
        android:manageSpaceActivity=".ui.ManageSpaceActivity"
        android:process="i.norika.loveplay"
        android:testOnly="false"
        android:theme="@style/AppTheme" >

        <!-- android:debuggable="true" -->
        <activity
            android:name=".ui.YourGoalActivity"
            android:alwaysRetainTaskState="false"
            android:clearTaskOnLaunch="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DelayTimeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ThinkingMyselfActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.YearActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TaskDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ManageSpaceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".widget.PlayAppWidget"
            android:label="Play AppWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>
    </application>

</manifest>