<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.norika.play"
    android:installLocation="internalOnly"
    android:sharedUserId="i.norika.rainplay"
    android:sharedUserLabel="@string/user_shared_label"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission
        android:name="com.android.norika.app.permission.ENTRY"
        android:description="@string/permission_access_des"
        android:label="@string/permission_access"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-configuration
        android:reqFiveWayNav="false"
        android:reqHardKeyboard="false"
        android:reqKeyboardType="nokeys"
        android:reqNavigation="nonav"
        android:reqTouchScreen="finger" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:glEsVersion="0x00010001"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:glEsVersion="0x00010001"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <!-- <instrumentation android:functionalTest="false"></instrumentation> -->

    <application
        android:name="com.android.norika.play.app.LovePlayApp"
        android:allowBackup="false"
        android:allowClearUserData="false"
        android:allowTaskReparenting="false"
        android:backupAgent="com.android.norika.play.backup.PlayBackupAgentHelper"
        android:description="@string/play_des"
        android:enabled="true"
        android:hasCode="true"
        android:icon="@drawable/apple"
        android:killAfterRestore="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:manageSpaceActivity=".ui.ManageSpaceActivity"
        android:persistent="false"
        android:process=":play"
        android:restoreAnyVersion="false"
        android:taskAffinity="com.android.norika.play.self"
        android:testOnly="false"
        android:theme="@style/AppTheme" >

        <!-- 备份恢复KEY，获取地址 http://code.google.com/android/backup/signup.html -->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIDaYEVgU6DJnyJdBmU7KLH3kszDXLv_4DIsEIyQ" />

        <!-- android:debuggable="true" -->
        <activity
            android:name=".ui.YourGoalActivity"
            android:alwaysRetainTaskState="false"
            android:clearTaskOnLaunch="false"
            android:configChanges="orientation|navigation|locale|keyboardHidden"
            android:excludeFromRecents="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleTask"
            android:multiprocess="false"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="YourGoalActivityAlias"
            android:icon="@drawable/s"
            android:label="@string/app_sub_name"
            android:targetActivity=".ui.YourGoalActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.DelayTimeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ThinkingMyselfActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.YearActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TaskDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ManageSpaceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".widget.PlayAppWidget"
            android:label="Play AppWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>
    </application>

</manifest>